* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Titillium Web', sans-serif;
    width: 100% !important;
    height: 100%;
}

.box {
    transition: .4s;
}

/*reusable componets*/

h1 {
    font-size: 4rem;
    font-weight: 600;

}

h2 {
    font-size: 3.8rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 30px;
}

h2::after {
    content: '';
    display: block;
    background: #14a58c;
    height: .4rem;
    width: 10rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-top: 3.5rem;
    line-height: 1.8rem;
    color: #3c4761;
}

p {
    font-size: 1.6rem;
    width: 90%;
    margin-top: 1.7rem;
    margin-left: 5%;
    line-height: 24px;
}

.team-style p {
    color: #3c4761;
    font-size: 1.6rem;
    line-height: 24px;
    padding-right: 22px;
    position: relative;
    left: 15px;
    right: 0;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

ul li {
    display: inline-block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.little-description {
    font-size: 18px;
    margin-left: 15%;
    margin-bottom: 7rem;
    line-height: 26px;
    padding-right: 425px;
    margin: auto;
    text-align: center;
    position: relative;
    left: 20%;
    margin-bottom: 5rem;
}

.btn {
    background: #eb7d4b;
    color: #fff;
    border-bottom: 2px solid black;
    padding: 1rem 3rem;
    text-decoration: none;
    font-size: 2rem;
    border-radius: .3rem;
    margin-top: 2rem;
    display: inline-block;
}

.btn-first {
    border-color: #c86a40;
}

.row {
    max-width: 114rem;
    margin: 0 auto;
}

/* ----- Scroll to Top ----- */
#scroll a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-box-shadow: 1px 2px 20px rgb(0 0 0 / 10%);
    box-shadow: 1px 2px 20px rgb(0 0 0 / 10%);
    background-color: #d74680;
    color: #fff;
    font-size: 26px;
    cursor: pointer !important;
    z-index: 99;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: none;
}

#scroll a:hover {
    background: #2EC9AD;
}

/*end reusable copmpontes*/


/*start header section*/

header {
    background: linear-gradient(rgba(135, 80, 156, 0.8), rgba(135, 80, 156, 0.9)), url(img/hero-bg.jpg);
    min-height: 85vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    color: #fff;
}

.main-nav {
    list-style: none;
    float: right;
    margin-top: 4rem;
    display: block;
    margin-right: ;
}

.main-nav li a:nth-child(3) {
    margin-left: 0;
}

.main-nav li a {
    text-decoration: none;
    margin-right: 0px;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    padding: 4px 14px;
    background: rgba(100, 58, 121, 0);
    border-radius: 4px;
    transition: 1s;
    display: inline-block;
}

.main-nav li:first-child(0) {
    margin-left: 0;
}

.main-nav li:hover a {
    background: rgba(100, 58, 121, 0.9);
}


.main-nav .active {
    background: rgba(100, 58, 121, 0.9);
    border-radius: 4px;
}

/*logos*/
.logos {
    margin-top: 25px;
    float: left;
    height: 35px;
    width: auto;
}

.mean-menu {
    float: right;
    margin-top: 4rem;
    display: block;

}

.mean-menu li a:nth-child(3) {
    margin-left: 0;
}

.mean-menu li a {
    text-decoration: none;
    margin-right: 0px;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    padding: 4px 14px;
    background: rgba(100, 58, 121, 0);
    border-radius: 4px;
    transition: 1s;
    display: inline-block;
}

.mean-menu li:hover a {
    background: rgba(100, 58, 121, 0.9);
}

.mean-menu .active {
    background: rgba(100, 58, 121, 0.9);
    border-radius: 4px;
}

.mobile-nav-buttons {
    display: none;
}

@media (max-width: 992px) {
    .sticky .mean-menu {
        margin-top: 0px !important;
    }

    .sticky .logos {
        margin-top: 17px !important;
    }

    .mobile-nav-buttons {
        display: block;
        float: right;
        margin: 10px 0;
        margin-right: 30px;
    }

    .mobile-nav-buttons a,
    .mobile-nav-buttons i {
        font-size: 26px;
        color: #fff;
        line-height: 58px;
    }

    .mobile-nav-buttons i {
        margin-left: 15px;
    }

    ul.mean-menu li {
        display: block;
        width: 100%;
        float: left;
        text-align: left;
        padding: 4px 15px 18px 20px;
    }

    .mean-menu .active {
        display: none;
    }

    .mean-menu {
        float: right;
        margin-top: 0;
        display: block;
        background: linear-gradient(rgba(135, 80, 156, 1), rgba(135, 80, 156, 1));
        width: 100%;
        z-index: -1;
        display: ;
        position: relative;
        z-index: 50000000;
        display: none;
        padding: 0px 0 8px 0;
    }

    nav#main-menu {
        position: fixed;
        width: 100%;
        height: auto;
        left: 0;
        top: 0;
        z-index: 1000;
        background: linear-gradient(rgba(135, 80, 156, 1), rgba(135, 80, 156, 1));
        padding: 0;
    }

    .logos {
        margin-top: 17px;
        margin-left: 30px;
    }

}

/*

.show-links {
    padding: 15px 0 0 0;
    display: block;
    background: linear-gradient(rgba(135, 80, 156, 1), rgba(135, 80, 156, 1));
}

*/



/* 
.mobile-menu span {
    color: #fff;
    font-size: 4rem;
    float: right;
    margin-top: 1rem;
    display: none;
    margin-right: 170px;
}


.mobile-menu span:hover{
	cursor: pointer;
}

.overlay{
height:100%;
background:rgba(0,0,0,0.8);
position:fixed;
top:0;
left:0;	
z-index:1;
overflow-x:hidden;
width:0;

}
.overlay-content{
position:relative;
top:15%;
margin-top:rem;

}
.overlay a{
text-decoration:none;
color:#f1f1f1;
display:block;
font-size:3rem;
padding:1rem;	
text-transform:uppercase;
}

.overlay-content a:hover{
color:green;	
}

.overlay .closebtn{
position:absolute;
top:2rem;
right:4.5rem;
color:#fff;
font-size:6rem;	
}

 */


.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text-box {
    width: 100rem;
}

/*header sticky*/
.sticky {
    background: linear-gradient(rgba(135, 80, 156, 1), rgba(135, 80, 156, 1));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    padding: 15px 0;
}

.sticky .mean-menu {
    margin-top: 2px;
}

.sticky .logos {
    margin-top: -5px;
}

/*end header section*/

/*start service section*/
.service-section {
    padding: 8rem 0;
    background: linear-gradient(rgba(23, 194, 164, 0.9), rgba(23, 194, 164, 0.9)), url(img/services-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.clearfix::after {
    content: '';
    height: 0;
    width: 100%;
    clear: both;
    display: block;
    visibility: hidden;
}


/*
.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 10px;
    right: 29px;
    background: rgba(135, 80, 156, 0.9);
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: #fff;
    visibility: hidden;
    z-index: 999 !important;
    color: #fff;
    animation: bounce 2s ease-in-out infinite;
    text-decoration: none;
}

.top-link:hover {
    color: #333;
    text-decoration: none;
}

.show-link {
    visibility: visible;
    z-index: 100;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}
*/


/*end service section*/

/*start team section*/

.team-section {
    background: linear-gradient(rgba(231, 241, 248, 0.9), rgba(231, 241, 248, 0.9)), url(img/team-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;

    padding: 8rem 0;
}

.team-style img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin-top: 4rem;
}

.team-section h2 {
    color: #3c4761;
    margin-top: 3rem;
    font-size: 4rem;
    margin-bottom: -1.8rem;
}




.team-section .little-description {
    color: #3c4761;
    margin-top: 3rem;
    font-size: 1.8rem;
    padding-right: 0;
    /* margin: auto; */
    text-align: center;
    position: relative;
    left: 0;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.team-section h3 {
    color: #3c4761;
    margin-bottom: 1.1rem;
    font-weight: bold;
}
}

.team-section h2::after {
    background: #c8d9e5
}

.team-section .role {
    font-size: 1.6rem;
    color: #30bae7;
    line-height: 18px;
}

.social-link {
    list-style-type: none;
    margin-top: 4rem;
}

.social-link li {
    display: inline-block;
    margin-top: .5rem;

}

.social-link li a {
    color: #fff;
}

.social-link li a:link i {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    margin: .6rem;
    transition: .8s ease;
    background: #bdd1df;
    border-radius: 50%;
    line-height: 36px;
    color: #fff;
}

.social-link li a:hover i {
    background: #393939;
    transform: rotate(360deg);
}

/*end team section*/


/*start skil section*/
.skil-section {
    padding: 8rem 0;
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(img/skill-bg.jpg);
}

.skil-section h2::after {
    background: #dfe8ed;
}

.skil-section h2 {
    color: #3c4761;
    margin-top: 2rem;
    line-height: 30px;
    font-weight: bold;
}

.skil-section .little-description {
    color: #3c4761;
    font-weight: 600;
}

.skil-section .little-description {
    color: #3c4761;
    margin-top: -.5rem;
    line-height: 26px;
    font-size: 17px;
    margin-bottom: 3.5rem;
}

/*end skil section*/
svg.radial-progress circle {

    stroke-width: 5;
}

svg.radial-progress text {
    fill: #393939;
    font-size: 2rem;
}

svg.web-design circle {
    stroke: #30bae7;
}


svg.grapics-design circle {
    stroke: #d74680;
}

svg.html-css circle {
    stroke: #15c7a8;
}

svg.ui-ux circle {
    stroke: #eb7d4b;
}




.portfolio-section {
    background: #ffdd99;
    text-align: center;
    padding: 8rem 0;
    background: linear-gradient(rgba(255, 221, 153, 0.9), rgba(255, 221, 153, 0.9)), url(img/portfolio-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.portfolio-section h2 {
    color: #393939;
}

.portfolio-section .little-description {
    color: #393939;
}

.portfolio-section h2::after {
    background: #e5c37f;
}

.portfolio-section .portfolio-filter button {
    font-size: 1.8rem;
    padding: .7rem 3rem;
    background: #ebc985;
    margin: 0 .5rem;
    border: none;
    border-radius: .4rem;
    color: #393939;
    transition: .5s;
}

h4 {
    font-size: 1.8rem;
    margin-top: 2rem;
}

.portfolio-filter button:hover {
    box-shadow: inset 0 2px 5px 0;
    cursor: pointer;
}

.portfolio-image {
    max-width: 100%;
    height: auto;
    margin-top: 4rem;
}

.portfolio-section .col:nth-child(3) {
    margin-left: 0;
}


.portfolio-section .mixitup-control-active {
    background: #fff!important;
}

.btn-load-more{
    background: #17c2a4;
    border-color: #14a58c;
}

/* Testimonial  */
.testimonial {
    padding: 8rem 0;
    background: #d74680;
    color: #fff;
}

.testimonial h2 {
    color: #fff;
    text-align: center;
    font-size: 4rem;
    line-height: 3rem;
}

.testimonial .little-description {
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.6rem;
}

.testimonial h2::after {
    background: #b73c6d;
}

.testimonial .col:nth-child(3) {
    margin-left: 0;
}

.testimonial-image {
    width: 10rem;
    float: left;
}


/*client*/

.our-clients {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client-review h4 {
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

.client-review .role {
    margin-left: 2rem;
    color: #ffdd99;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
}

.client-image img {
    height: 8rem;
    border-radius: 50%;
}

.client-review p {
    font-size: 1.8rem;
    line-height: 26px;
}





.contact-section h2::after {
    background: #273a71;
}

.contact-section {
    padding: 8rem 0;
    text-align: center;
    background: linear-gradient(rgba(60, 84, 153, 0.9), rgba(60, 84, 153, 0.9)), url(img/contact-bg.jpg);
    color: #fff;
}

.contact-section form input[type="text"],
.contact-section form input[type="password"],
.contact-section textarea {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    display: block;
    opacity: 0.8;
    background: #fff;
    color: #000 !important;
    border: none;
}

.contact-section .btn {
    border: none;
    background: #30bae7;
    padding: 17px 46px;
    border-bottom: 2px solid black;
    transition: 0.3s;
}

.contact-section .btn:hover {
    background: #d74680;
     border-color: #d74680;
}

.contact-section .btn-submit {
    border-color: #299ec5;
}

.contact-section form::placeholder {
    color: white;
    opacity: 1;
}

.contact-section form {
    width: 70%;
    margin-left: 15%;
}



.footer-section {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

ul.media-link {
    text-align: center;
    padding: 2rem 0;
    background: #30bae7;
    width: 100%;
}


.footer-section .media-link li {
    display: inline-block;
}

.footer-section .media-link li a {
    padding: 1rem 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: #ffffff;
}

.footer-section .media-link li a:hover {
    color: #393939;
}

.active {
    color: red;
}

.copyright-bar {
    background: #d74680;
    padding: 2rem 4rem;
}

.copyright-bar span {
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
    color: #fff;
    font-weight: 600;
    margin: auto;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 200px;
  max-height: 400px;
}*/